@media only screen and (max-width: 750px) {
  #CS,
  #TS {
    font-size: 2rem;
  }
}

nav {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: black;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

nav li {
  display: inline-block;
  padding: 15px 0;
  width: 50%;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
}
